<h1>Add bookmark:</h1>
<form name='add-bookmark' action='/bookmarks' method='POST'>
  url: <input type='text' name='url'><br>
  title: <input type='text' name='title'><br>
  <input type='submit' value='Add'>
</form>
